@switch (Size)
{
  case "Body":
    <p class="@TextSizeClass" @attributes="SplatValues">@ChildContent</p>
    break;
  case "Subtitle":
    <h4 class="@TextSizeClass" @attributes="SplatValues">@ChildContent</h4>
    break;
  case "Title":
    <h3 class="@TextSizeClass" @attributes="SplatValues">@ChildContent</h3>
    break;
  case "Title-L":
    <h2 class="@TextSizeClass" @attributes="SplatValues">@ChildContent</h2>
    break;
  case "Display":
    <h1 class="@TextSizeClass" @attributes="SplatValues">@ChildContent</h1>
    break;
  default:
    <p class="@TextSizeClass" @attributes="SplatValues">@ChildContent</p>
    break;
}